body{
  background-color: #947e63;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.app{
  background-color: white;
  border: 1px solid black;
  width: 500px;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, .8);
  text-align: center; 
}
.app .form{
  text-align: left;
}
.form input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: .4rem;
}
.form .btn{
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: #231f20;
  color: white;
  font-size: 12px;
  height: 40px;
  transition: .5s all;
}
.form .btn:hover{
  color: white;
  background-color: #3a3a3a;
}
.qrcode{
  border: 2px solid #231f20;
  padding: .5rem;
  width: 200px !important;
  height: 200px !important;
}
.code h2{
  color: #231f20;
  font-weight: 700;
}
.code a{
  text-decoration: none;
  cursor: pointer;
}
.fa-check-circle{
  color: #198754;
  font-size: 50px;
}
.progress{
  height: 30px;
}
.progress-bar{
  background-color: #198754;
}
.form-email .button-email{
  text-align: center;
}
.react-datepicker{
  display: flex !important;
}
@media only screen and (max-width:600px){
  .app{
    width:400px;
  }
}

@media only screen and (max-width:400px){
  .app{
    width:100%;
  }
  .react-datepicker{
    width: auto;
  }
}